body{
    background-color: #FF0000;
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-position:center;
    
}
h1 {
    color: #990000;
    background-color: #FC9804;
}










